.custom-menu-icon {
  font-size: 28px;
  line-height: 47px;
}

.mdl-navigation__link {
  i {
    font-size: 19px;
  }

  span {
    padding-left: 15px;
    vertical-align: middle;
    position: relative;
    top: 1px;
  }
}

.custom-title,
.custom-menu-icon {
  color: #fff;
}

.custom-btn {
  position: fixed;
  right: 6%;
  bottom: 52px;
  background: #374850;

  svg {
    position: relative;
    top: -1px;
  }
}

.custom-msg {
  text-align: center;
  width: 90%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 16px;
}

.custom-fab-icon {
  color: #fff;
}

@media (max-width: 479px) {
  .mdl-snackbar {
    width: 100%;
    left: 50%;
  }
}

video {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#list {
  li {
    list-style-type: none;
    text-decoration: underline;
    color: #00F;
  }
}

.custom-copy-btn {
  opacity: 0;
}

.hide {
  display: none;
}

@-webkit-keyframes scanner {
  0% {
    bottom: 95%;
  }
  50% {
    bottom: 5%;
  }
  100% {
    bottom: 95%;
  }
}

@-moz-keyframes scanner {
  0% {
    bottom: 90%;
  }
  50% {
    bottom: 15%;
  }
  100% {
    bottom: 90%;
  }
}

@-o-keyframes scanner {
  0% {
    bottom: 90%;
  }
  50% {
    bottom: 15%;
  }
  100% {
    bottom: 90%;
  }
}

@keyframes scanner {
  0% {
    bottom: 90%;
  }
  50% {
    bottom: 15%;
  }
  100% {
    bottom: 90%;
  }
}

.custom-scanner {
  width: 100%;
  height: 2px;
  background: #4CAF50;
  position: absolute;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-animation: scanner 3s infinite linear;
  -moz-animation: scanner 3s infinite linear;
  -o-animation: scanner 3s infinite linear;
  animation: scanner 3s infinite linear;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.4);
  display: none;
}
